<!DOCTYPE html>
<html>
  <head>
    <title>Timesheet - Controle de Horas</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link 
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap" 
      rel="stylesheet"
    >
  </head>

  <body>
    <% if notice %>
      <div class="alert"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="alert"><%= alert %></div>
    <% end %>

    <%= render 'layouts/nav/topbar' %>
    
    <div class="container">
      <%= yield %>
    </div>

   <script>
    $(".alert").fadeTo(3000, 500).slideUp(500, function () {
      $(".alert").slideUp(500);
    });
  </script>

  </body>
</html>
